
@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter-3.19/Inter Web/Inter-Regular.woff2') format('woff2'),
  url('../../fonts/Inter-3.19/Inter Web/Inter-Regular.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.image-box {
    position: relative;
    width:100%;
    height:175vh;
}

.image-box-image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

.info-section {
    height:60%;
    width:100%;
    background-color: #282828;
    display:flex;
    justify-content: center;
}

.info-section-quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
    text-align:center;
    font-size: 1.5rem;
    font-weight: 200;
    font-family: 'Inter', sans-serif;
}

.info-section-quote-center {
    height: 100%;
    width: 100%;
    top: 50%;
}

.logo {
    width: 100%;
    height: 100%;
    background-image: url('../../../public/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.info-section-image-indicator {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
}

.info-section-island {
    position: absolute;
    top: 10px;
    width: 70px;
    height: 13px;
    background-color: #403D3D;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
}

.image-switch-button-wrapper {
    height: 100%;
}

.image-switch-button-right {
    position: absolute;
    top: calc(50% - 10px);
    right: 25px;
}

.image-switch-button-left {
    position: absolute;
    top: calc(50% - 10px);
    left: 25px;
}


.bottom-section {
    display: flex;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
}

.bottom-section-left {
    margin-left: 50px;
    margin-right: 200px;
    width: 60%;
    height:100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justfiy-content: flex-end;
}

.bottom-section-right {
    position: relative;
    width: 40%;
    height:100%;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

.bottom-info-top {
    font-size: 1.1rem;
    color: #686262;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.bottom-info-middle {
    font-size: 1.3rem;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

.bottom-section-book-button {
    margin-top: 20px;
    background-color: #57D14C;
    width: 30%;
    height: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5%;
    cursor: pointer;
    margin-left: auto;
}

.bottom-section-book-text {
    color: white;
}

