
.booking-flex-stack {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.booking-flex {
    display: flex;
    height: 75%;
    width: 100%;
    flex-direction: horizontal;
    background-color: #00000;
}

.booking-island-side {
    width: 100%;
    background-image: url('../../images/stars.jpg');
    background-size: cover;

}

.booking-info-side {
    position: absolute;
    top: 12%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.booking-bottom-section {
    position: relative;
    height: 25%;
    width: 100%;
    background-color: #282828;
    display: flex;
}

.booking-bottom-section-flex {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.booking-totalinfo-text {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 1.3rem;
    top: 20px;
    font-weight: 600;
}

.booking-bottom-button {
    position: absolute;
    width: 9%;
    height: 20%;
    background-color: #57D14C;
    right: 100px;
    transform: translate(0%, -50%);
    cursor: pointer;
}

.booking-bottom-button-text {
    width: 100%;
    text-align: center;
    height: 100%;
    color: white;
    font-size: 1.25em;
    transform: translate(0%, 25%);
}

.booking-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.booking-island {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    background-color: #282828;
    transform: translate(-50%, -50%);
    border-radius: 4%;
}

.booking-island-center {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.booking-island-flex {
    display: flex;
    height: 70%;
    transform: translate(3%, 0%);
    width: 100%;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
}
