
.booking-details-flex-column {
    display: flex;
    overflow: scroll;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stage-three-title-text {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.booking-details-inner-container {
    width: 80%;
    height: 100%;
}

.booking-detail-name {
    font-weight: 600;
    margin-bottom: 10px;
}

.booking-detail-box {
    height: 25px;
    width: 100%;
    border-color: #D3D3D3;
    border-style: solid;
}
