

.expert-box {
    top: 60px;
    position: relative;
    display: flex;
    width: 25%;
    height: 50%;
    background-color: #D3D3D3;
    flex-direction: column;
    z-order: 9999;
    border-style: solid;
    border-color: white;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.expert-box:hover {
    right: 5px;
    top: 45px;
    box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.expert-image-section {
    height: 65%;
    width: 100%;
}

.expert-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.expert-box-info-section {
    height: 35%;
    width: 100%;
    background-color: #282828;
    z-order: 9998;
    color: white;
}

.expert-info-text {
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: 5px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
}
.expert-info-tag {
    font-size: 0.9em;
    display: inline;
    font-weight: 600;
}

.expert-info-info {
    font-size: 0.85em;
    display: inline;
}


